.user{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 200px;
    height: 350px;
    padding: 10px;
    cursor: pointer;
}

.user:hover{
    opacity: 0.8;
}

.user img{
    width: 150px;
}

.user p{
    text-align: center;
}

.favorite-user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.container .remove-btn{
    background-color: red;
    color: white;
    text-align: center;
    height: 40px;
    width: auto;
    padding: 10px;
}
